<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=QuanLyHoSoBenhNhan" />
		<property name="username" value="sa" />
		<property name="password" value="123456" />
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- Definition for NhanVienJDBCTemplate bean -->
	<bean id="nhanVienJDBC" class="com.model.DAO.NhanVien.NhanVienJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Definition for ChucVuJDBCTemplate bean -->
	<bean id="chucVuJDBC" class="com.model.DAO.ChucVu.ChucVuJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Definition for ThongKeBenhAnJDBCTemplate bean -->
	<bean id="thongKeBenhAnJDBC" class="com.model.DAO.ThongKeBenhAn.ThongKeBenhAnJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
</beans>
