.side-nav>li>ul>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>ul>li>a:hover {
    color: #fff;
}
.side-nav>li>ul>li>ul{
    list-style-type: none;
}

